body {
    height: 100vh;
    background-color: black;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    
}
.container {
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(174,174,178, 0.8);
    border-radius: 10px;
    width: 100%;

}
.background {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
#player {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    color: black;

}

  .progress {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: 10px auto;
  }

  .progress-bar {
    position: relative;
    width: 70%;
    height: 5px;
    background-color: #eee;
    vertical-align: 2px;
    border-radius: 3px;
    cursor: pointer;
  }

  .now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    width: 70%;
    background: #31c27c;
  }

  .now::after {
    content: '';
    position: absolute;
    left: 100%;
    width: 3px;
    height: 7px;
    background-color: lightblue;
  }